<div class='row'>
  <div class='col-md-5'>
		<%= image_tag @c.image_url, class: 'img-responsive' %>
  </div>
  <div class='col-md-7'>
		<h1><%= @c.title %></h1>
		<h4><%= @c.description %></h4>
		<%= link_to 'Delete Comic', '/comics/delete/' + @c.id.to_s, method: :delete, class: 'btn btn-warning', confirm: 'Are you sure?' %>
  </div>
</div>
